@import url(options-mac.css);

/* no button colouring on linux (due to system styling and multitude of linux themes) */
#buttons-pane-radio,
#topsettings-toolbarbuttons
{
	display: none;
}

.button-box > .button-icon
{
	display: -moz-box;
}

.pane-radio
{
	-moz-padding-start: calc(4.8em - 4px);
}