@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

html|link
{
  display: none;
}

page
{
	font-family: "Helvetica Neue", "Avenir Next", "Segoe UI", sans-serif;
	font-weight: 200;
	
}

page,
#fullpage-popup-deck,
.popup-container > vbox,
.popup-container > deck
{
    background: hsl(0, 0%, 94%) url(chrome://global/skin/media/imagedoc-lightnoise.png);
}

*
{
  -moz-appearance: none;
  text-shadow: inherit;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: none padding-box;
}

.inverted
{
	color: #fff;
}

/* :::::: Header/Banner :::::: */

.banner-button-vertical
{
	-moz-box-orient: vertical;
	font-size: 1em;
}

.banner-button-vertical > .button-box
{	/* 1.5 top */
    padding: 0 !important;
}

.banner-button-vertical[disabled]
{
	opacity: .4;
}

.banner-button-vertical,
.back-button
{
    padding: 1.5em 1.2em;
    list-style-image: url(buttons-mac.png);
}

.banner-button-vertical .button-icon,
.back-button .button-icon
{
    width: 30px;
    height: 30px;
}

.banner-button-vertical > .button-box > .button-text
{
    transform: translateY(.5em);
}

.back-button[_hidden=true]
{
	visibility: hidden;
	-moz-user-focus: ignore;
	pointer-events: none;
}

.back-button
{
	min-width: 0;
	-moz-padding-end: 1.4em;
	-moz-image-region: rect(0 60px 60px 0);
}

.back-button:hover:active
{
	-moz-image-region: rect(0 120px 60px 60px);
}

#preset-remove-button
{
	-moz-image-region: rect(60px 60px 120px 0);
}

#preset-remove-button:not([disabled]):hover:active
{
	-moz-image-region: rect(60px 120px 120px 60px);
}

#preset-export-button
{
	-moz-image-region: rect(120px 60px 180px 0);
}

#preset-export-button:not([disabled]):hover:active
{
	-moz-image-region: rect(120px 120px 180px 60px);
}

.banner-title
{
	font-size: 2em;
	font-weight: 100;
	-moz-margin-end: 1em;
}

/* ::: Menus ::: */

menupopup
{
	border: 2px solid #2A2A2A;
	background-color: #fff;
}

menuitem
{
	text-align: start;
	font-size: 14px;
	padding: 6px 15px;
	color: #000;
}

menuitem[disabled]
{
	color: #aaa;
}

menuitem:not([disabled]):hover
{
	background-color: #F3F3F3;
}

menuitem:not([disabled]):hover:active
{
	color: #fff;
	background-color: #005EAA;
}

.menuseparator
{
	max-height: 1px;
	height: 1px;
	min-height: 1px;
	background-color: #666666;
	margin: 1em 16px;
}

.separator
{
	max-height: 1px;
	height: 1px;
	min-height: 1px;
	background: rgba(255,255,255,.5);
	margin: 1em calc( 4em - 3px );
}

.color-preset
{
	padding: 0;
	margin: 0;
	height: 50px;
	min-height: 50px;
	max-height: 50px;
	width: 50px;
	min-width: 50px;
	max-width: 50px;
	border-radius: 4px;
	border: 1px solid hsla(0, 0%, 5%, .25);
	background-clip: border-box;
	background-origin: border-box;
	background-image: linear-gradient(hsla(0, 0%, 100%, .3), hsla(0, 0%, 0%, .05));
	box-shadow: 0 1px 0 hsla(0, 0%, 100%, .2) inset,
	            0 1px 0 rgba(0, 0, 0, .04);
}


.color-preset:hover:active
{
    background-image: linear-gradient(rgba(0, 0, 0, .15), hsla(0, 0%, 100%, .05));
    border-color: hsla(0, 0%, 0%, .5);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15) inset,
                0 1px 0 #FFF;
}

.color-presets-container
{
	margin: 0 0 16px;
}

.color-presets-container .color-preset:not(:last-child)
{
	-moz-margin-end: 6px;
}

.color-presets-container > hbox:not(:last-child)
{
	margin-bottom: 6px;
}

.color-preset-0
{
	background-color: #DC4FAD;
}

.color-preset-1
{
	background-color: #AC193D;
}

.color-preset-2
{
	background-color: #D24726;
}

.color-preset-3
{
	background-color: #FF8F32;
}

.color-preset-4
{
	background-color: #82BA00;
}

.color-preset-5
{
	background-color: #008A17;
}

.color-preset-6
{
	background-color: #03B3B2;
}

.color-preset-7
{
	background-color: #008299;
}

.color-preset-8
{
	background-color: #5DB2FF;
}

.color-preset-9
{
	background-color: #0074C6;
}

.color-preset-10
{
	background-color: #4617B4;
}

.color-preset-11
{
	background-color: #8C0095;
}

.color-preset-12
{
	background-color: #004B8B;
}

.color-preset-13
{
	background-color: #001940;
}

.color-preset-14
{
	background-color: #570000;
}

.color-preset-15
{
	background-color: #380000;
}

.color-preset-16
{
	background-color: #585858;
}

.color-preset-17
{
	background-color: #000;
}

#pane-settings >  vbox
{
	background-color: #3176AE;
}

.banner
{
	background-color: transparent;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    padding-top: 1em;
	-moz-box-align: center;
}

.fullpage-popup > .banner,
#page-navigation-pane
{
    background-color: hsl(0, 0%, 17%);
}

#page-navigation-pane
{
	min-width: 20em;
}

#leftPane-deck
{
	background-color: transparent;
}

.pane-radio
{
	-moz-binding: url("chrome://global/content/bindings/radio.xml#radio");
	color: hsl(0, 0%, 60%);
	padding: 12px calc(4em - 4px) 14px;
	font-weight: 300;
	font-size: 1em;
}

.pane-radio[selected],
.pane-radio:not([disabled]):hover:active
{
	color: #397ee7;
}

.pane-radio[selected]
{
    background-image: url(radio-selector.png);
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: 14px 27px;
}

/* no app button on mac */
#appbutton-pane-radio
{
	display: none;
}

#main-deck > vbox
{
	padding: 3em;
	-moz-padding-end: 0;
}

#main-deck > vbox
{
	overflow: auto;
}

.header
{
	font-size: 1.7em;
	font-weight: 100;
	margin-bottom: .7em;
	color: #005EAA;
}

label.header:not(:first-child)
{
	margin-top: 1em;
}

.header.sub
{
	font-size: 1em;
	color: #000;
}

.header.popup
{
	margin-bottom: 1em;
}

.popup-radiogroup
{
	max-width: 0;
	-moz-box-flex: 1;
}

.warning
{
	color: #FF7E28;
	padding: 0 0 .4em;
	transition: .1s ease-in;
}

.warning[_hidden=true]
{
	opacity: 0;
}

description
{
	cursor: default;
	max-width: 40em;
}

.button-hbox-container
{
	-moz-box-pack: end;
	margin-top: 1em;
}

/* ::: Color Picker popup ::: */

.colorPicker-hue,
.colorPicker-saturation
{
	margin: 7px;
	background-repeat: no-repeat;
	background-size: contain;
}

.colorPicker-hue
{
	cursor: url(colorpicker/picker-cursor.png) 7 7, crosshair;
	z-index: 0;
	background-image: url(colorpicker/picker-bg-small.png);
}


.colorPicker-saturation
{
	pointer-events: none;
	z-index: 1;
	background-image: url(colorpicker/picker-bg-small-unsat.png);
	opacity: .5;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .3) inset;
}

.colorPicker-stack
{
	-moz-box-orient: vertical;
	-moz-box-pack: center;
	-moz-box-align: center;
	height: 374px;
	width: 374px;
}

.colorPicker-cursor
{
	pointer-events: none;
	z-index: 2;
	background-image: url(colorpicker/picker-cursor.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 13px;
}

.colorPicker-satStack,
.colorPicker-opacityStack
{
	padding: 0 13px;
	height: 374px;
	-moz-margin-start: .5em;
    background-image: -moz-image-rect(url(colorpicker/slider-thumb-mac.png), 0, 44, 9, 0);
    background-size: 44px 9px;
    background-repeat: no-repeat;
    background-position: center center;
}

.colorPicker-satStack[dragging],
.colorPicker-opacityStack[dragging]
{
    background-image: -moz-image-rect(url(colorpicker/slider-thumb-mac.png), 9, 44, 18, 0);
}

@media (min-resolution: 97dpi)
{
	.colorPicker-hue
	{
		cursor: url(colorpicker/picker-cursor@2x.png) 7 7, crosshair;
	}
	
	.colorPicker-cursor
	{
		background-image: url(colorpicker/picker-cursor@2x.png);
	}
	
	.colorPicker-satStack,
	.colorPicker-opacityStack
	{
	    background-image: -moz-image-rect(url(colorpicker/slider-thumb-mac@2x.png), 0, 88, 18, 0);
	}
	
	.colorPicker-satStack[dragging],
	.colorPicker-opacityStack[dragging]
	{
	    background-image: -moz-image-rect(url(colorpicker/slider-thumb-mac@2x.png), 18, 88, 36, 0);
	}
}

.colorPicker-saturation-slider,
.colorPicker-opacity-slider
{
	margin: 7px 0;
	pointer-events: none;
	width: 18px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset;
}

.colorPicker-previewContainer
{
	padding-top: 13px;
	-moz-margin-start: 25px;
	margin-bottom: 6px;
}

.colorPicker-previewContainer spacer
{
	width: .3em;
}

.colorPicker-preview
{
	height: 100px;
	margin-bottom: 1em;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset;
}

.textbox
{
	margin: 0;
	padding: 0 6px 2px;
	height: 28px;
	min-height: 28px;
	max-height: 28px;
	background-image: linear-gradient(hsl(0,0%,97%), hsl(0,0%,100%));
	border: 1px solid;
	border-color: rgba(0, 0, 0, .35) rgba(0, 0, 0, .25) rgba(0, 0, 0, .15);
	box-shadow: 0 1px 0 hsla(0,0%,100%,.2),
				inset 0 0 1px hsla(0,0%,0%,.05),
				inset 0 1px 2px hsla(0,0%,0%,.1);
	border-radius: 4px;          
}

.textbox .spinbuttons-box
{
    display: none;
}

textbox.combined html|*.textbox-input,
.opacity-textbox html|*.textbox-input
{
	padding: 0 6px 2px !important;
	-moz-padding-end: .5em !important;
}

.hex-textbox
{
	max-width: 5.5em;
	text-align: end;
}

.opacity-textbox
{
	max-width: 6.2em;
	text-align: end;
}

.hex-textbox html|*.textbox-input
{
	text-transform: uppercase;
}

.textbox.combined
{
	max-width: 4em;
	text-align: end;
}

.textbox.combined:not(:last-child)
{
	-moz-border-end: 0;
}

.textbox[focused]
{
	border-color: -moz-mac-focusring;
	box-shadow: 0 0 1px -moz-mac-focusring inset,
				0 0 4px 1px -moz-mac-focusring,
				0 0 1.5px 1px -moz-mac-focusring;
	position: relative;
}

.textbox:-moz-window-inactive
{
	border-color: rgba(146, 146, 146, 0.84);
}

.hsl-h-textbox:before,
.hsl-s-textbox:before,
.hsl-l-textbox:before,
.hex-textbox:before,
.rgb-r-textbox:before,
.rgb-g-textbox:before,
.rgb-b-textbox:before,
.opacity-textbox:before
{
	display: -moz-box;
	-moz-margin-start: 2px;
	opacity: .6;
}

.opacity-textbox:before
{
	content: "Opacity";
}

.hex-textbox:before
{
	content: "#";
}

.rgb-r-textbox,
.hsl-h-textbox,
.rgb-b-textbox:-moz-locale-dir(rtl),
.hsl-l-textbox:-moz-locale-dir(rtl)
{
	border-radius: 4px 0 0 4px;
}

.rgb-r-textbox:-moz-locale-dir(rtl),
.hsl-h-textbox:-moz-locale-dir(rtl),
.rgb-b-textbox,
.hsl-l-textbox
{
	border-radius: 0 4px 4px 0;
}

.rgb-g-textbox,
.hsl-s-textbox
{
	border-radius: 0;
}

.rgb-r-textbox:before
{
	content: "R";
}

.rgb-g-textbox:before
{
	content: "G";
}

.rgb-b-textbox:before
{
	content: "B";
}

.hsl-h-textbox:before
{
	content: "H";
}

.hsl-s-textbox:before
{
	content: "S";
}

.hsl-l-textbox:before
{
	content: "L";
}

.colorPicker-hexContainer,
.colorPicker-rgbContainer
{
	margin-bottom: 1em;
}

/* ::: Buttons ::: */

button
{
	min-width: 5em;
	padding: 3px 1em 4px;
}

.button
{
	min-width: 6em;
	font: message-box;
	font-size: 13px;
	padding: 3px;
	color: hsl(0, 0%, 35%);
}

.button,
.newPreset
{
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 4px !important;
	background-image: linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 93%), hsl(0, 0%, 88%));
    box-shadow: 0 1px 0 hsl(0, 0%, 100%) inset,
                0 1px 0 rgba(0, 0, 0, .04);
	background-clip: padding-box;
}

.button:not([disabled=true]):-moz-any(:hover:active, [open]),
.newPreset:hover:active
{
    background-image: linear-gradient(rgba(0, 0, 0, .15), hsla(0, 0%, 100%, .05));
    background-color: #005EAA;
    border-color: hsla(0, 0%, 0%, .5);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15) inset,
                0 1px 0 #FFF;
    background-clip: border-box;
	background-origin: border-box;
    color: #FFF;
}

.newPreset
{
	background-image: -moz-image-rect(url(add-large-mac.png), 0, 50%, 100%, 0),
					  linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 93%), hsl(0, 0%, 88%));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px 34px, auto;
}

.newPreset:hover:active
{
	background-image: -moz-image-rect(url(add-large-mac.png), 0, 100%, 100%, 50%),
					  linear-gradient(rgba(0, 0, 0, .15), hsla(0, 0%, 100%, .05));
}

button[default]
{
	-moz-margin-end: .5em;
}

@keyframes fade-in
{
	from
	{
		background-color: rgba(0,0,0,0);
	}
	to
	{
		background-color: rgba(0,0,0,.4);
	}
}

@keyframes fade-out
{
	from
	{
		background-color: rgba(0,0,0,.4);
	}
	to
	{
		background-color: rgba(0,0,0,0);
	}
}

.popup-container
{
	-moz-box-pack: center;
	transition: .35s background-color, .35s visibility;
	background-color: hsl(0, 0%, 17%);
}

.popup-container[_hidden=true]
{
	background-color: hsla(0, 0%, 17%, 0);
	visibility: collapse;
}

.popup-spacer
{
    min-height: 4em;
}

.popup-container > vbox
{
	padding: 1em 0;
}

.popup-container > vbox,
.popup-container > deck
{
	-moz-box-align: center;
}

.popup-container > deck > hbox
{
	padding: 1em 0;
	-moz-box-pack: center;
	-moz-box-align: center;
}

/* ::: Color preset paintbucker ::: */

.color-preset-paintbucket
{
	min-height: 102px;
	background-color: transparent;
}

.color-preset-paintbucket > stack
{
	width: 76px;
	height: 76px;
	background-color: #DEDEDE;
}

.paintbucket-preview-button
{
	margin: 0;
	padding: 0;
	-moz-box-flex: 1;
    background-image: -moz-image-rect(url(colorpicker/color-dropper-mac.png), 0, 50%, 100%, 0),
		              linear-gradient(hsla(0, 0%, 100%, .3), hsla(0, 0%, 0%, .05));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px, auto;
	border-radius: 4px;
	border: 1px solid hsla(0, 0%, 5%, .25);
	background-clip: border-box;
	background-origin: border-box;
	box-shadow: 0 1px 0 hsla(0, 0%, 100%, .2) inset,
	            0 1px 0 rgba(0, 0, 0, .04);
}

.paintbucket-preview-button:hover:active
{
	background-image: -moz-image-rect(url(colorpicker/color-dropper-mac.png), 0, 50%, 100%, 0),
					  linear-gradient(rgba(0, 0, 0, .15), hsla(0, 0%, 100%, .05));
    border-color: hsla(0, 0%, 0%, .5);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15) inset,
                0 1px 0 #FFF;
}

.color-preset-paintbucket[inverted=true] .paintbucket-preview-button
{
	background-image: -moz-image-rect(url(colorpicker/color-dropper-mac.png), 0, 100%, 100%, 50%),
		              linear-gradient(hsla(0, 0%, 100%, .3), hsla(0, 0%, 0%, .05));
}

.color-preset-paintbucket[inverted=true] .paintbucket-preview-button:hover:active
{
	background-image: -moz-image-rect(url(colorpicker/color-dropper-mac.png), 0, 100%, 100%, 50%),
		              linear-gradient(rgba(0, 0, 0, .15), hsla(0, 0%, 100%, .05));
}

.color-preset-paintbucket > .reset-button
{
	margin-top: .4em;
 	min-width: 0;
}

/* ::: Top settings ::: */

#topsettings-hbox,
#recentpresets-hbox,
#settings-pane-presets,
.block-me
{
	display: block;
}

.topSettings
{
	color: #fff;
	padding: 0;
	background: bottom 31px right no-repeat;
	background-color: #ccc;
	border-radius: 4px;
}

#topsettings-selectedtabs,
#topsettings-tabs,
#topsettings-toolbarbuttons
{
	min-height: 173px;
	min-width: 173px;
}

#createpreset-preview
{
	-moz-box-flex: 1;
	-moz-margin-end: 1em;
	-moz-margin-start: calc(-145px + -1em);
}

.topSettings > .button-box
{
	padding: 0;
	margin: 0;
	border-radius: 4px;
	border: 1px solid hsla(0, 0%, 5%, .35);
	background-clip: border-box;
	background-origin: border-box;
	background-image: linear-gradient(hsla(0, 0%, 100%, .3), hsla(0, 0%, 0%, .05)),
	                  linear-gradient(to top, hsl(0, 0%, 17%) 31px, transparent 31px);
	box-shadow: 0 1px 0 hsla(0, 0%, 100%, .2) inset,
	            0 1px 0 rgba(0, 0, 0, .04);
	height: 173px;
}

:not(#manage-presets-container) > * > .topSettings:hover:active > .button-box
{
    background-image: linear-gradient(rgba(0, 0, 0, .15), hsla(0, 0%, 100%, .05)),
    				  linear-gradient(to top, #000 31px, transparent 31px);
    border-color: hsla(0, 0%, 0%, .5);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15) inset,
                0 1px 0 #FFF;
}

.topSettings > .button-box > .button-text
{
    min-width: 0;
}

.topSetting-preset-checkmark
{
	pointer-events: none;
}

#manage-presets-container .topSetting-backgroundContainer:-moz-any([selected], :hover:active) .button-box
{
	border-color: #1c3f73;
}

#manage-presets-container .topSetting-backgroundContainer:-moz-any([selected], :hover:active) .topSetting-preset-checkmark
{
	background: url(check-right-mac.png) top right 0 no-repeat;
	background-size: 32px;
	border-radius: 4px;
	box-shadow: 0 0 0 4px #397ee7;
}

.topSetting-backgroundContainer
{
	-moz-margin-end: 1.1em;
	margin-bottom: 1.1em;
    border-radius: 4px;
}

.topSettings:not(.color-preset) > .button-box
{
	padding: .2em .6em .3em;
	min-height: 31px;
}

#topsettings-selectedtabs
{
	background-color: #0082D4;
	background-image: -moz-image-rect(url(topSettings.png), 0, 346, 162, 0);
	background-size: 173px 81px;
}

#topsettings-selectedtabs[inverted=true]
{
	background-image: -moz-image-rect(url(topSettings.png), 0, 692, 162, 346);
}

#topsettings-tabs
{
	background-color: #009BF0;
	background-image: -moz-image-rect(url(topSettings.png), 162, 346, 324, 0);
	background-size: 173px 81px;
}

#topsettings-tabs[inverted=true]
{
	background-image: -moz-image-rect(url(topSettings.png), 162, 692, 324, 346);
}

#topsettings-toolbarbuttons
{
	background-color: #0068B7;
	background-image: -moz-image-rect(url(topSettings.png), 324, 346, 532, 0);
	background-size: 173px 104px;
}

#topsettings-toolbarbuttons[inverted=true]
{
	background-image: -moz-image-rect(url(topSettings.png), 324, 692, 532, 346);
}

.message
{
	color: #FF7E28;
	margin: 0 0 1.5em;
}

.text-link
{
	margin: 0 0 1em 0;
	color: #007ee6;
	cursor: pointer;
}

description + .text-link
{
	margin-top: 1em;
}

.text-link:hover
{
	text-decoration: underline;
}

#import-export-presets
{
    display: block;
}

.new-preset-button-container
{
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
}

.fullpage-popup > vbox
{
	padding: 3em;
	-moz-box-flex: 1;
	overflow: auto;
}